.button {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: 0;
}

.button--black {
  color: white;
  background-color: $main-dark;
}

@media (min-width: $desktop-width) {
  .button {
    padding: 27px 24px;
    font-size: 16px;
    line-height: 16px;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}
