.index-intro {
  background-color: $main-grey;
}

.index-intro__wrapper {
  display: flex;
  align-items: center;
}

.index-intro__next-button {
  align-self: flex-end;
  display: block;
  width: 10px;
  height: 27px;
  font-size: 0;
  line-height: 0;
  background-image: url("../img/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.index-intro__container {
  display: flex;
  flex-direction: column;
}


.index-intro__slogan {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  color: $grey;
}


.index-intro__container2 {
  display: flex;
}

.index-intro__image-container {
  position: relative;

  .index-intro__image {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    background-image: url('../img/decor1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url('../img/decor2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.index-intro__socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: $tablet-width - 1px) {
  .index-intro__wrapper {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .index-intro__next-button {
    display: none;
  }

  .index-intro__container {
    order: 1;
  }

  .index-intro__name {
    margin-bottom: 40px;
  }


  .index-intro__image-container {
    margin-bottom: 50px;

    &::before {
      top: -20px;
      left: -20px;
      width: 109px;
      height: 80px;
    }

    &::after {
      bottom: -20px;
      right: -20px;
      width: 109px;
      height: 80px;
    }
  }

  .index-intro__image {
    width: 202px;
    height: 249px;
  }

  .index-intro__socials {
    display: none;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .index-intro__wrapper {
    padding-top: 83px;
    padding-bottom: 45px;
  }

  .index-intro__next-button {
    margin-right: 78px;
  }

  .index-intro__container {
    margin-right: 67px;
  }

  .index-intro__name {
    margin-bottom: 60px;
  }

  .index-intro__container2 {
    flex-direction: column;
  }

  .index-intro__image-container {
    margin-bottom: 70px;

    &::before {
      top: -30px;
      left: -30px;
      width: 141px;
      height: 104px;
    }

    &::after {
      bottom: -30px;
      right: -30px;
      width: 141px;
      height: 104px;
    }
  }

  .index-intro__image {
    width: 264px;
    height: 319px;
  }

  .index-intro__socials {
    align-self: flex-end;
    margin-right: -20px;
  }

  .index-intro__socials-item:not(:last-child) {
    margin-right: 35px;
  }

  .index-intro__socials-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $main-dark;
  }
}

@media (min-width: $desktop-width) {
  .index-intro__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .index-intro__next-button {
    margin-right: 160px;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }

  .index-intro__container {
    margin-right: 67px;
  }

  .index-intro__name {
    margin-bottom: 50px;
  }

  .index-intro__image-container {
    margin-right: 104px;

    &::before {
      top: -50px;
      left: -50px;
      width: 232px;
      height: 176px;
    }

    &::after {
      bottom: -50px;
      right: -50px;
      width: 232px;
      height: 176px;
    }
  }

  .index-intro__socials {
    align-self: flex-end;
    flex-direction: column;
  }

  .index-intro__socials-item:not(:last-child) {
    margin-bottom: 35px;
  }

  .index-intro__socials-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $main-dark;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}
