.last-collection .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.last-collection__image {
  object-fit: cover;
  object-position: center;
}

.last-collection__container {
  background-image: url("../img/decor3.png");
  background-size: cover;
}

.last-collection__content {
  background-color: $gray2;
}

.last-collection__description {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
  color: $gray;
}

.last-collection__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 32px;
  color: $main-dark;
}

@media (max-width: $tablet-width - 1px) {
  .last-collection .wrapper {
    padding-top: 60px;
    padding-right: 0;
    padding-left: 0;
  }

  .last-collection__image {
    order: 2;
    max-height: 226px;
  }

  .last-collection__container {
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
  }

  .last-collection__content {
    padding: 40px 36px;
  }

  .last-collection__description {
    text-align: center;
  }

  .last-collection__title {
    font-size: 26px;
    line-height: 26px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .last-collection .wrapper {
    justify-content: center;
  }

  .last-collection__image {
    width: 354px;
    height: 287px;
  }

  .last-collection__container {
    width: 324px;
    padding: 20px;
    padding-left: 0;
  }

  .last-collection__content {
    padding: 50px;
    padding-right: 30px;
  }

  .last-collection__description {
    margin-bottom: 10px;
  }

  .last-collection__title {
    margin-bottom: 29px;
  }

  .last-collection__link {
    width: 148px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .last-collection .wrapper {
    justify-content: center;
  }

  .last-collection__image {
    width: 700px;
    height: 370px;
  }

  .last-collection__container {
    width: 470px;
    padding: 31px;
    padding-right: 70px;
    padding-left: 0;
  }

  .last-collection__content {
    padding: 70px;
    padding-right: 30px;
  }

  .last-collection__description {
    margin-bottom: 15px;
  }

  .last-collection__title {
    margin-bottom: 39px;
  }

  .last-collection__link {
    width: 200px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
