.page-header {
  background-color: white;
}

.page-header__nav {
  padding: 25px 0;
}

.page-header__nav-wrapper {
  position: relative;
  display: flex;
}

.page-header__logo-link {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.page-header__bottom {
   background-color: $main-gray;
}

.page-header__bottom .wrapper {
  display: flex;
}

@media (min-width: $desktop-width){
  .page-header__container {
    padding-top: 73px;
  }

  .page-header__breadcrumbs {
    margin-bottom: 35px;
  }
}
