.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $main-dark;
}

@media (min-width: $desktop-width) {
  .site-nav--index {
    position: absolute;
    top: calc(100% + 50px);
    left: 98px;
    flex-direction: column;

    .site-nav__item {
      margin-bottom: 30px;
    }
  }

  .site-nav__link {
    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .site-nav--index {
    position: absolute;
    top: calc(100% + 50px);
    left: 45px;
    flex-direction: row;

    .site-nav__item {
      margin-right: 35px;
    }
  }
}

@media (max-width: $tablet-width - 1px) {
  .site-nav--index {
    position: absolute;
    top: calc(100% + 50px);
    left: 15px;
    flex-direction: row;

    .site-nav__item {
      margin-right: 25px;
    }
  }
}
