.wrapper {
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: $desktop-width;
    padding-right: 98px;
    padding-left: 98px;
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: $tablet-width;
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (min-width: $mobile-width) {
  .wrapper {
    min-width: $mobile-width;
    padding-left: 15px;
    padding-right: 15px;
  }
}
