@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Work Sans";

  font-display: swap;
  src:  url("../fonts/work-sans-regular.woff2"),
        url("../fonts/work-sans-regular.woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Work Sans";

  font-display: swap;
  src:  url("../fonts/work-sans-v7-latin-500.woff2"),
        url("../fonts/work-sans-v7-latin-500.woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Work Sans";

  font-display: swap;
  src:  url("../fonts/work-sans-v7-latin-700.woff2"),
        url("../fonts/work-sans-v7-latin-700.woff");
}
